<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>onlineTheatreManagementAndTicketPurchasingWebApp</display-name>
 <!--   
    <security-constraint>
     <web-resource-collection>
        <web-resource-name>onlineTheatreManagementAndTicketPurchasingWebApp</web-resource-name>
        <url-pattern>/*</url-pattern>
     </web-resource-collection>
 --> 
     <!-- set the value to "CONFIDENTIAL" to enable SSL and "NONE" to disable -->
 <!--
     <user-data-constraint>
       <transport-guarantee>NONE</transport-guarantee>
     </user-data-constraint>
  </security-constraint>
   --> 
    <welcome-file-list>
		<welcome-file>Login.jsp</welcome-file>	
	</welcome-file-list>
	
    <error-page>
       <error-code>404</error-code>
       <location>/error.jsp</location>   
    </error-page>
    
    <error-page>
       <exception-type>java.lang.Throwable</exception-type>
       <location>/exception.jsp</location>   
    </error-page>  
	  
  <!-- SMTP settings -->
    <context-param>
        <param-name>host</param-name>
        <param-value>smtp.gmail.com</param-value>
    </context-param>
 
    <context-param>
        <param-name>port</param-name>
        <param-value>587</param-value>
    </context-param>
 
    <context-param>
        <param-name>user</param-name>
        <param-value>dutoscustomerservice@gmail.com</param-value>
    </context-param>
 
    <context-param>
        <param-name>pass</param-name>
        <param-value>password121</param-value>
    </context-param>
 
    <welcome-file-list>
        <welcome-file>EmailForm.jsp</welcome-file>
    </welcome-file-list>
	
	<servlet>
		<description>
		</description>
		<display-name>Loginpage</display-name>
		<servlet-name>Loginpage</servlet-name>
		<servlet-class>Loginpage</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Registration</display-name>
		<servlet-name>Registration</servlet-name>
		<servlet-class>Registration</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Login</display-name>
		<servlet-name>Login</servlet-name>
		<servlet-class>onlineTheatreManagementAndTicketPurchasingWebApp.servlet.Login</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Register</display-name>
		<servlet-name>Register</servlet-name>
		<servlet-class>onlineTheatreManagementAndTicketPurchasingWebApp.servlet.Register</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>CommentBoxApp</display-name>
		<servlet-name>CommentBoxApp</servlet-name>
		<servlet-class>onlineTheatreManagementAndTicketPurchasingWebApp.servlet.CommentBoxApp</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ImageRequest</display-name>
		<servlet-name>ImageRequest</servlet-name>
		<servlet-class>onlineTheatreManagementAndTicketPurchasingWebApp.servlet.ImageRequest</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>TheatreAndMovieSearchQuery</display-name>
		<servlet-name>TheatreAndMovieSearchQuery</servlet-name>
		<servlet-class>onlineTheatreManagementAndTicketPurchasingWebApp.servlet.TheatreAndMovieSearchQuery</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>CustomerReview</display-name>
		<servlet-name>CustomerReview</servlet-name>
		<servlet-class>onlineTheatreManagementAndTicketPurchasingWebApp.servlet.CustomerReview</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Logout</display-name>
		<servlet-name>Logout</servlet-name>
		<servlet-class>onlineTheatreManagementAndTicketPurchasingWebApp.servlet.Logout</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UpdateShoppingCart</display-name>
		<servlet-name>UpdateShoppingCart</servlet-name>
		<servlet-class>onlineTheatreManagementAndTicketPurchasingWebApp.servlet.UpdateShoppingCart</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>CustomerTransactionConfirmation</display-name>
		<servlet-name>CustomerTransactionConfirmation</servlet-name>
		<servlet-class>onlineTheatreManagementAndTicketPurchasingWebApp.servlet.CustomerTransactionConfirmation</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>MovieSearchResult</display-name>
		<servlet-name>MovieSearchResult</servlet-name>
		<servlet-class>onlineTheatreManagementAndTicketPurchasingWebApp.servlet.MovieSearchResult</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ViewOrders</display-name>
		<servlet-name>ViewOrders</servlet-name>
		<servlet-class>onlineTheatreManagementAndTicketPurchasingWebApp.servlet.ViewOrders</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ManageOrder</display-name>
		<servlet-name>ManageOrder</servlet-name>
		<servlet-class>onlineTheatreManagementAndTicketPurchasingWebApp.servlet.ManageOrder</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>CancelOrder</display-name>
		<servlet-name>CancelOrder</servlet-name>
		<servlet-class>onlineTheatreManagementAndTicketPurchasingWebApp.servlet.CancelOrder</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>CancelOrderTransaction</display-name>
		<servlet-name>CancelOrderTransaction</servlet-name>
		<servlet-class>onlineTheatreManagementAndTicketPurchasingWebApp.servlet.CancelOrderTransaction</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AddMovie</display-name>
		<servlet-name>AddMovie</servlet-name>
		<servlet-class>onlineTheatreManagementAndTicketPurchasingWebApp.servlet.AddMovie</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AddShowtime</display-name>
		<servlet-name>AddShowtime</servlet-name>
		<servlet-class>onlineTheatreManagementAndTicketPurchasingWebApp.servlet.AddShowtime</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>CancelPassing</display-name>
		<servlet-name>CancelPassing</servlet-name>
		<servlet-class>onlineTheatreManagementAndTicketPurchasingWebApp.servlet.CancelPassing</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>CancelShowing</display-name>
		<servlet-name>CancelShowing</servlet-name>
		<servlet-class>onlineTheatreManagementAndTicketPurchasingWebApp.servlet.CancelShowing</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ManageShowtimes</display-name>
		<servlet-name>ManageShowtimes</servlet-name>
		<servlet-class>onlineTheatreManagementAndTicketPurchasingWebApp.servlet.ManageShowtimes</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>MovieDetailsUpdate</display-name>
		<servlet-name>MovieDetailsUpdate</servlet-name>
		<servlet-class>onlineTheatreManagementAndTicketPurchasingWebApp.servlet.MovieDetailsUpdate</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>MoviesDetail</display-name>
		<servlet-name>MoviesDetail</servlet-name>
		<servlet-class>onlineTheatreManagementAndTicketPurchasingWebApp.servlet.MoviesDetail</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>MovieSearchResultOwner</display-name>
		<servlet-name>MovieSearchResultOwner</servlet-name>
		<servlet-class>onlineTheatreManagementAndTicketPurchasingWebApp.servlet.MovieSearchResultOwner</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ViewShowrooms</display-name>
		<servlet-name>ViewShowrooms</servlet-name>
		<servlet-class>onlineTheatreManagementAndTicketPurchasingWebApp.servlet.ViewShowrooms</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ViewTheatreDetails</display-name>
		<servlet-name>ViewTheatreDetails</servlet-name>
		<servlet-class>onlineTheatreManagementAndTicketPurchasingWebApp.servlet.ViewTheatreDetails</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Bank</display-name>
		<servlet-name>Bank</servlet-name>
		<servlet-class>onlineTheatreManagementAndTicketPurchasingWebApp.servlet.Bank</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>PlaceOrder</display-name>
		<servlet-name>PlaceOrder</servlet-name>
		<servlet-class>onlineTheatreManagementAndTicketPurchasingWebApp.servlet.PlaceOrder</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ChangePassword</display-name>
		<servlet-name>ChangePassword</servlet-name>
		<servlet-class>onlineTheatreManagementAndTicketPurchasingWebApp.servlet.ChangePassword</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Loginpage</servlet-name>
		<url-pattern>/Loginpage</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Registration</servlet-name>
		<url-pattern>/Registration</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Register</servlet-name>
		<url-pattern>/Register</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CommentBoxApp</servlet-name>
		<url-pattern>/CommentBoxApp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ImageRequest</servlet-name>
		<url-pattern>/ImageRequest</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TheatreAndMovieSearchQuery</servlet-name>
		<url-pattern>/TheatreAndMovieSearchQuery</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CustomerReview</servlet-name>
		<url-pattern>/CustomerReview</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/Logout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateShoppingCart</servlet-name>
		<url-pattern>/UpdateShoppingCart</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CustomerTransactionConfirmation</servlet-name>
		<url-pattern>/CustomerTransactionConfirmation</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MovieSearchResult</servlet-name>
		<url-pattern>/MovieSearchResult</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ViewOrders</servlet-name>
		<url-pattern>/ViewOrders</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ManageOrder</servlet-name>
		<url-pattern>/ManageOrder</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CancelOrder</servlet-name>
		<url-pattern>/CancelOrder</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CancelOrderTransaction</servlet-name>
		<url-pattern>/CancelOrderTransaction</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddMovie</servlet-name>
		<url-pattern>/AddMovie</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddShowtime</servlet-name>
		<url-pattern>/AddShowtime</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CancelPassing</servlet-name>
		<url-pattern>/CancelPassing</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CancelShowing</servlet-name>
		<url-pattern>/CancelShowing</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ManageShowtimes</servlet-name>
		<url-pattern>/ManageShowtimes</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MovieDetailsUpdate</servlet-name>
		<url-pattern>/MovieDetailsUpdate</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MoviesDetail</servlet-name>
		<url-pattern>/MoviesDetail</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MovieSearchResultOwner</servlet-name>
		<url-pattern>/MovieSearchResultOwner</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ViewShowrooms</servlet-name>
		<url-pattern>/ViewShowrooms</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ViewTheatreDetails</servlet-name>
		<url-pattern>/ViewTheatreDetails</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Bank</servlet-name>
		<url-pattern>/Bank</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PlaceOrder</servlet-name>
		<url-pattern>/PlaceOrder</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ChangePassword</servlet-name>
		<url-pattern>/ChangePassword</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
